.projects-wrap {
  @apply flex flex-wrap w-full;
  margin: 0 -48px;
  .project-item {
  }
}

.swiper-container {
  @apply bg-white;
  max-width: calc(calc(33.33333% - 48px));
  width: 100%;
  height: 428px;
  // height: 500px;
  margin: 0 24px 48px !important;
}
